<template>
	<mu-input-expandable @open="$refs.input.$el.focus()">
		<md-input-container md-inline>
			<label>Search</label>
			<md-input
				ref="input"
				v-model="keyword"
				@change="onKeyUp"
			>
			</md-input>
		</md-input-container>
	</mu-input-expandable>
</template>

<script>
	export default {
		data: () => ({
			timer: null,
			keyword: ''
		}),
		props: {
			delay: {
				type: Number,
				default: 1000
			}
		},
		methods: {
			onKeyUp (event) {
				if (this.timer !== null) {
					clearTimeout(this.timer);
				}

				this.timer = setTimeout(() => {
					this.$emit('change', event);
				}, this.delay)
			}
		}
	}
</script>

<style>
</style>
