<template>
	<md-layout>
		<span class="md-subheading">
			{{ $tc('user.title', 1) }}
		</span>

		<!-- Name -->
		<md-input-container
			:class="{'md-input-invalid': errors.has('nome')}"
			>
			<label>
				{{ $t('user.fieldset.name') }}
			</label>
			<md-input
				data-vv-name="nome"
				v-model="value.nome"
				v-validate:nome="'required|min:4'"
			>
			</md-input>

			<span
				class="md-error"
				v-show="errors.has('nome')"
			>
				{{ errors.first('nome') }}
			</span>
		</md-input-container>

		<!-- Email -->
		<md-input-container
			:class="{'md-input-invalid': errors.has('email')}"
		>
			<label>
				{{ $t('user.fieldset.email') }}
			</label>
			<md-input
				data-vv-name="email"
				v-model="value.email"
				v-validate:name="'required|email'"
			>
			</md-input>

			<span
				class="md-error"
				v-show="errors.has('email')"
			>
				{{ errors.first('email') }}
			</span>
		</md-input-container>
	</md-layout>
</template>

<script>
	import { validateChild } from '../../mixins/validate';

	export default {
		mixins: [validateChild],
		components: {
		},
		props: {
			value: {
				type: Object,
				default: () => {}
			}
		}
	}
</script>

<style lang="sass" scoped>
</style>
