<template>
	<mu-container>
		<md-toolbar slot="header" class="user__header">
			<md-button @click.native="toggleSidenav" class="md-icon-button">
				<md-icon>menu</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				{{ $tc('user.title', 2) }}
			</h2>

			<mu-search>
			</mu-search>
		</md-toolbar>

		<md-list slot="body">
			<adm-user-item
				v-for="user in users"
				:user="user"
				:key="user.id"
				@click="editUser"
				@delete="deleteUser"
			>
			</adm-user-item>
		</md-list>

		<div slot="footer" class="user__footer">
			<md-button @click.native="add" class="md-fab md-fab-bottom-right">
				<md-icon>add</md-icon>
			</md-button>
		</div>
	</mu-container>
</template>

<script>
	import { mapMutations } from 'vuex';
	import store from '../../store';
	import router from '../../router';
	import UserItem from './UserItem';

	export default {
		components: {
			'adm-user-item': UserItem
		},
		data () {
			return {
				users: [],
				next_page_url: null
			}
		},
		/*
		 * Retrieve data before render component
		 */
		beforeRouteEnter (to, from, next) {
			store.dispatch('user/getUsers')
			.then(response => {
				next(vm => {
					if (response.status == 200) {
						vm.users.push(...response.body.data);
						vm.next = response.body.next_page_url;
					}
				})
			});
		},
		methods: {
			...mapMutations({
				toggleSidenav: 'sidenav/toggle'
			}),
			editUser (user) {
				router.push('/users/edit/' + user.id);
			},
			deleteUser (user) {

				this.$store.dispatch('user/deleteUser', user)
					.then(response => {
						let index = this.users.indexOf(user)

						if (index != -1)
							this.users.splice(index, 1);

						this.$logger.success(
							this.$t('action.delete', [
								this.$tc('user.title', 1),
								user.nome
							])
						);
					});
			},
			add () {
				router.push('/users/add');
			}
		}
	}
</script>
