<template>
	<mu-container>
		<md-toolbar slot="header">
			<md-button @click.native="previous" class="md-icon-button">
				<md-icon>arrow_back</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				{{ (action == 'add') ?
					$t('form.title.add', [$tc('user.title', 1)]) :
					$t('form.title.edit', [$tc('user.title', 1)])
				}}
			</h2>

			<md-button @click.native="submit(success)" class="md-icon-button">
				<md-icon>check</md-icon>
			</md-button>
		</md-toolbar>

		<form
			ref="form"
			class="user__form"
			slot="body"
		>
			<md-layout md-gutter="16">
				<md-layout
					class="user__main"
					md-flex-small="100"
					md-flex="66"
				>
					<adm-user-fieldset
						v-model="user"
					>
					</adm-user-fieldset>
				</md-layout>

				<md-layout
					class="user__aside"
					md-flex-small="100"
					md-flex="33"
				>
					<adm-user-password
						v-model="password"
						:action="action"
					>
					</adm-user-password>
				</md-layout>
			</md-layout>
		</form>
	</mu-container>
</template>

<script>
	import { validateParent } from '../../mixins/validate';
	import router from '../../router';
	import store from '../../store';
	import UserFieldset from './UserFieldset';
	import UserPassword from './UserPassword';

	export default {
		components: {
			'adm-user-fieldset': UserFieldset,
			'adm-user-password': UserPassword,
		},
		mixins: [validateParent],
		data () {
			return {
				action: 'add',
				user: {
					id: '',
					nome: '',
					email: ''
				},
				password: {
					first: '',
					second: ''
				}
			}
		},
		beforeRouteEnter(to, from, next) {
			// Get the user if router has id parameter
			if (to.params.id) {
				store.dispatch('user/getUser', { id: to.params.id})
					.then(response => {
						next(vm => {
							vm.action = 'edit';
							vm.user = response.data;
						});
					});
			} else {
				// Otherwise continue
				next();
			}
		},
		methods: {
			success () {
				this.$store.dispatch(`user/${this.action == 'add' ? 'addUser' : 'editUser'}`, {
					user: this.user,
					password: this.password.first
				})
					.then(response => {
						this.$logger.success(
							this.$t(`action.${this.action}`, [
								this.$tc('user.title', 1),
								this.user.nome
							])
						);
						this.previous();
					});
			},
			previous () {
				router.push('/users');
			}
		}
	}
</script>

<style lang="sass" scoped>
	.user{
		&__form{
			padding: 16px;
		}
		&__main,
		&__aside{
			flex-flow: column wrap;
		}
	}
</style>
