<template>
	<md-layout>
		<span class="md-subheading">
			{{ $t('user.fieldset.password.title') }}
		</span>

		<!-- Password -->
		<md-input-container
			:class="{'md-input-invalid': errors.has('password')}"
			>
			<label>
				{{ $t('user.fieldset.password.first') }}
			</label>
			<md-input
				type="password"
				data-vv-name="password"
				v-model="value.first"
				v-validate:password="`${action == 'add' ? 'required|confirmed:confirm|min:6' : 'confirmed:confirm|min:6'}`"
			>
			</md-input>

			<span
				class="md-error"
				v-show="errors.has('password')"
			>
				{{ errors.first('password') }}
			</span>
		</md-input-container>

		<!-- Confirm -->
		<md-input-container
			:class="{'md-input-invalid': errors.has('confirm')}"
			>
			<label>
				{{ $t('user.fieldset.password.second') }}
			</label>
			<md-input
				type="password"
				name="confirm"
				data-vv-name="confirm"
				v-model="value.second"
				v-validate:confirm="`${action == 'add' ? 'min:6|required' : 'min:6' }`"
			>
			</md-input>

			<span
				class="md-error"
				v-show="errors.has('confirm')"
			>
				{{ errors.first('confirm') }}
			</span>
		</md-input-container>
	</md-layout>
</template>

<script>
	import { validateChild } from '../../mixins/validate';

	export default {
		mixins: [validateChild],
		props: {
			value: {
				type: Object,
				default: () => {
					return {
						first: '',
						second: ''
					}
				}
			},
			title: {
				type: String,
				default: 'Set Password'
			},
			action: {
				type: String,
				default: 'add'
			}
		}
	}
</script>
