<template>
	<md-layout md-gutter="16">
		<md-layout md-flex="100" class="md-subheading">
			{{ $tc('card.closing.title', 1) }}
		</md-layout>

		<md-layout
			md-flex="100"
		>
			<!-- Titulo -->
			<md-input-container>
				<label>
					{{ $t('card.fieldset.titulo') }}
				</label>
				<md-input v-model="value.fechamento_titulo">
				</md-input>
			</md-input-container>
		</md-layout>

		<md-layout
			md-flex="100"
		>
			<!-- Descrição -->
			<mu-editor
				:label="$t('card.fieldset.descricao')"
				rows="20"
				v-model="typeof(value.fechamento_descricao) == Object ? value.fechamento_descricao : {}"
			>
			</mu-editor>
		</md-layout>
	</md-layout>
</template>

<script>
	import { validateChild } from '../../mixins/validate';

	export default {
		mixins: [validateChild],
		props: {
			value: {
				type: Object,
				default: () => ({
					fechamento_titulo: '',
					fechamento_descricao: {}
				})
			}
		}
	}
</script>

<style>
</style>
