<template>
	<form
		ref="form"
		class="timeline__form"
	>
		<mu-container>
			<md-toolbar slot="header">
				<md-button @click.native="previous" class="md-icon-button">
					<md-icon>arrow_back</md-icon>
				</md-button>

				<h2 class="md-title" style="flex: 1">
					{{ (action == 'add') ?
						$t('form.title.add', [$tc('timeline.title', 1)]) :
						$t('form.title.edit', [$tc('timeline.title', 1)])
					}}
					(Português)
				</h2>

				<adm-lang-menu @change="onLangChange"
					ref="lang"
					v-if="action == 'edit'"
				>
				</adm-lang-menu>

				<md-button @click.native="submit(success)" class="md-icon-button">
					<md-icon>
						check
					</md-icon>
				</md-button>
			</md-toolbar>

			<md-tabs slot="body" md-fixed>
				<md-tab id="timeline-main" md-label="Principal">
					<md-layout md-gutter="16">
						<md-layout
							class="timeline__main"
							md-flex-small="100"
							md-flex="70"
						>
							<adm-timeline-fieldset
								ref="timeline"
								v-model="timeline"
							>
							</adm-timeline-fieldset>
						</md-layout>

						<md-layout
							class="timeline__aside"
							md-flex-small="100"
							md-flex="30"
						>
							<adm-timeline-info
								v-model="timeline"
							>
							</adm-timeline-info>

							<mu-gallery-single
								title="Background"
								ref="gallery"
								@select="$refs.dialog.open()"
							>
								<adm-media-photo-dialog
									ref="dialog"
									:images="images"
									:queue="queue"
									:limit="1"
								>
								</adm-media-photo-dialog>
							</mu-gallery-single>
						</md-layout>
					</md-layout>
				</md-tab>

				<md-tab id="timeline-opening" md-label="Abertura">
					<md-layout md-gutter="16">
						<md-layout
							class="timeline__main"
							md-flex-small="100"
							md-flex="70"
						>
							<adm-card-opening-fieldset v-model="opening"></adm-card-opening-fieldset>
						</md-layout>

						<md-layout
							class="timeline__aside"
							md-flex-small="100"
							md-flex="30"
						>
							<adm-card-opening-fieldset-thumbnail v-model="opening"></adm-card-opening-fieldset-thumbnail>
						</md-layout>
					</md-layout>
				</md-tab>

				<md-tab id="timeline-closing" md-label="Fechamento">
					<md-layout md-gutter="16">
						<md-layout
							class="timeline__main"
							md-flex-small="100"
							md-flex="70"
						>
							<adm-timeline-fieldset-closing v-model="timeline">
							</adm-timeline-fieldset-closing>
						</md-layout>
					</md-layout>
				</md-tab>
			</md-tabs>
		</mu-container>
	</form>
</template>

<script>
	import { mapGetters } from 'vuex';
	import { validateParent } from '../../mixins/validate';
	import store from '../../store';
	import router from '../../router';

	let fetchData = (id, callback) => {
		store.dispatch('timeline/getTimeline', { id })
			.then(response => callback(response));
	};

	export default {
		components: {
			'adm-timeline-fieldset': require('./TimelineFieldset'),
			'adm-timeline-fieldset-closing': require('./TimelineFieldsetClosing'),
			'adm-timeline-info': require('./TimelineInfo'),
			'adm-card-fieldset': require('../card/CardFieldset'),
			'adm-card-opening-fieldset': require('../card/card-opening/CardOpeningFieldset'),
			'adm-card-opening-fieldset-thumbnail': require('../card/card-opening/CardOpeningFieldsetThumbnail'),
			'adm-media-photo-dialog': require('../media/media-photo/MediaPhotoDialog')
		},
		mixins: [validateParent],
		data () {
			return {
				action: 'add',
				timeline: {
					titulo: '',
					slug: '',
					inicio: '',
					fim: '',
					bibliografia: {},
					episodios: '',
					fechamento_titulo: '',
					fechamento_descricao: {}
				},
				opening: {
					titulo: '',
					subtitulo: '',
					slug: '',
					texto: {},
					data: '',
					descricao_data: '',
					intervalo_inicio: '',
					intervalo_fim: '',
					descricao_busca: '',
					credito_foto_capa: '',
					url: ''
				},
				queue: [],
				images: [
					{ url: '1' },
					{ url: '2' },
					{ url: '3' },
					{ url: '4' },
					{ url: '5' },
					{ url: '6' },
					{ url: '7' },
					{ url: '8' },
					{ url: '9' },
					{ url: '10' },
					{ url: '11' },
					{ url: '12' },
					{ url: '13' },
					{ url: '14' },
					{ url: '15' },
					{ url: '16' },
					{ url: '17' },
					{ url: '18' },
					{ url: '19' },
					{ url: '20' }
				]
			}
		},
		beforeRouteEnter(to, from, next) {
			// Get the timeline if router has id parameter
			if (to.params.id) {
				fetchData(to.params.id, response => {
					next(vm => {
						vm.action = 'edit';
						vm.timeline = response.data.timeline;
						vm.opening = response.data.opening;
					});
				});
			} else {
				next();
			}
		},
		computed: {
			...mapGetters({
				getCurrent: 'lang/getCurrent'
			})
		},
		methods: {
			success () {
				this.$store.dispatch(`timeline/${this.action == 'add' ? 'addTimeline' : 'editTimeline'}`, {
					timeline: this.timeline,
					opening: this.opening
				})
					.then(response => {
						this.$logger.success(
							this.$t(`action.${this.action}`, [
								this.$tc('timeline.title', 1),
								this.timeline.nome
							])
						);
						this.previous();
					});
			},
			previous () {
				router.push('/timelines');
			},
			onLangChange (event) {
				fetchData(this.timeline.id, response => {
					this.timeline = response.data.timeline;
					this.opening = response.data.opening;
				});
			}
		}
	}
</script>

<style>
	.container__body{
		flex-flow: column;
	}
</style>

<style lang="sass" scoped>
	.timeline{
		&__form{
			padding: 0px;
		}
		&__main,
		&__aside{
			flex-flow: column wrap;
			.md-gutter-16{
				flex-grow: 0;
			}
		}
	}
</style>
