<template>
	<md-layout md-gutter="16">
		<md-layout md-flex="100" class="md-subheading">
			{{ $tc('timeline.title', 1) }}
		</md-layout>

		<md-layout
			md-flex-small="100"
			md-flex="50"
		>
			<!-- Titulo -->
			<md-input-container
				:class="{'md-input-invalid': errors.has('titulo')}"
				>
				<label>
					{{ $t('timeline.fieldset.title') }}
				</label>
				<md-input
					data-vv-name="titulo"
					v-model="value.titulo"
					v-validate:titulo="'required|min:4'"
					@change="onTitleChange"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('titulo')"
				>
					{{ errors.first('titulo') }}
				</span>
			</md-input-container>
		</md-layout>

		<md-layout
			md-flex-small="100"
			md-flex="50"
		>
			<!-- Slug -->
			<mu-input-toggle v-model="slugDisabled">
				<md-input-container
					:class="{'md-input-invalid': errors.has('slug')}"
					>
					<label>
						{{ $t('timeline.fieldset.slug') }}
					</label>
					<md-input
						ref="slug"
						data-vv-name="slug"
						v-model="value.slug"
						v-validate:slug="'required|min:4'"
						:disabled="slugDisabled"
					>
					</md-input>

					<span
						class="md-error"
						v-show="errors.has('slug')"
					>
						{{ errors.first('slug') }}
					</span>
				</md-input-container>
			</mu-input-toggle>
		</md-layout>

		<md-layout
			md-flex-small="50"
			md-flex="25"
		>
			<!-- Begin -->
			<md-input-container
				:class="{'md-input-invalid': errors.has('inicio')}"
				>
				<label>
					{{ $t('timeline.fieldset.begin') }}
				</label>
				<md-input
					data-vv-name="inicio"
					v-model="value.inicio"
					v-validate:inicio="'required|numeric|max:4|min:4'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('inicio')"
				>
					{{ errors.first('inicio') }}
				</span>
			</md-input-container>
		</md-layout>

		<md-layout
			md-flex-small="50"
			md-flex="25"
		>
			<!-- End -->
			<md-input-container
				:class="{'md-input-invalid': errors.has('fim')}"
				>
				<label>
					{{ $t('timeline.fieldset.end') }}
				</label>
				<md-input
					data-vv-name="fim"
					v-model="value.fim"
					v-validate:inicio="'required|numeric|max:4|min:4'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('fim')"
				>
					{{ errors.first('fim') }}
				</span>
			</md-input-container>
		</md-layout>

		<md-layout
			md-flex-small="100"
			md-flex="50"
		>
			<!-- Calling -->
			<md-input-container
				:class="{'md-input-invalid': errors.has('episodios')}"
				>
				<label>
					{{ $t('timeline.fieldset.calling') }}
				</label>
				<md-input
					data-vv-name="episodios"
					v-model="value.episodios"
					v-validate:inicio="''"
					placeholder="Ex: Mais de 120 episódios"
					maxlength="70"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('episodios')"
				>
					{{ errors.first('episodios') }}
				</span>
			</md-input-container>
		</md-layout>

		<md-layout
			md-flex="100"
		>
			<mu-editor
				:label="$t('timeline.fieldset.bibliography')"
				rows="20"
				v-model="value.bibliografia"
			>
			</mu-editor>
				{{ value.bibiliografia }}
		</md-layout>

		<md-layout
			md-flex="50"
			md-flex-small="100"
		>
			<mu-gallery-single
				ref="gallery"
				title="Background da Home"
				action="Escolher"
				ratio="16:9"
			>
			</mu-gallery-single>
		</md-layout>
	</md-layout>
</template>

<script>
	import { validateChild } from '../../mixins/validate';

	export default {
		mixins: [validateChild],
		props: {
		},
		data () {
			return {
				queue: [],
				images: [],
				slugDisabled: true
			}
		},
		props: {
			value: {
				type: Object,
				default: () => ({
					titulo: '',
					slug: '',
					inicio: '',
					fim: '',
					bibliografia: {},
					episodios: ''
				})
			},
		},
		methods: {
			onTitleChange(event) {
				if (!this.slugDisabled)
					this.value.slug = this.$options.filters['mu-slugify'](event);
			}
		}
	}
</script>

<style lang="sass" scoped>
</style>
