<template>
	<mu-container>
		<md-toolbar slot="header" class="timeline__header">
			<md-button @click.native="toggleSidenav" class="md-icon-button">
				<md-icon>menu</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				{{ $tc('timeline.title', 2) }}
			</h2>

			<mu-input-expandable @open="$refs.search.$el.focus()">
				<md-input-container md-inline>
					<label>Search</label>
					<md-input ref="search">
					</md-input>
				</md-input-container>
			</mu-input-expandable>

			<md-button class="md-icon-button">
				<md-icon>filter_list</md-icon>
			</md-button>
		</md-toolbar>

		<md-list slot="body">
			<adm-timeline-item
				v-for="timeline in timelines"
				:timeline="timeline"
				:key="timeline.id"
				@click="editTimeline"
				@delete="deleteTimeline"
			>
			</adm-timeline-item>
		</md-list>

		<div slot="footer" class="timeline__footer">
			<md-button @click.native="add" class="md-fab md-fab-bottom-right">
				<md-icon>add</md-icon>
			</md-button>
		</div>
	</mu-container>
</template>

<script>
	import { mapMutations } from 'vuex';
	import store from '../../store';
	import router from '../../router';
	import TimelineItem from './TimelineItem'; 

	export default {
		components: {
			'adm-timeline-item': TimelineItem
		},
		data () {
			return {
				timelines: [],
				next_page_url: null
			}
		},
		/*
		 * Retrieve data before render component
		 */
		beforeRouteEnter (to, from, next) {
			store.dispatch('timeline/getTimelines')
			.then(response => {
				next(vm => {
					if (response.status == 200) {
						vm.timelines.push(...response.body.data);
						vm.next = response.body.next_page_url;
					}
				})
			});
		},
		methods: {
			...mapMutations({
				toggleSidenav: 'sidenav/toggle'
			}),
			editTimeline (timeline) {
				router.push('/timelines/edit/' + timeline.id);
			},
			deleteTimeline (timeline) {

				this.$store.dispatch('timeline/deleteTimeline', timeline)
					.then(response => {
						let index = this.timelines.indexOf(timeline)

						if (index != -1)
							this.timelines.splice(index, 1);

						this.$logger.success(
							this.$t('action.delete', [
								this.$tc('timeline.title', 1),
								timeline.titulo
							])
						);
					});
			},
			add () {
				router.push('/timelines/add');
			}
		}
	}
</script>
