<template>
	<div class="timeline--info">
		<span class="md-subheading">
			{{ $t('timeline.info') }}
		</span>

		<ul class="timeline__data">
			<li class="timeline__field">
				<span class="timeline__label md-caption">{{ $t('model.created_at') }}</span>
				<span
					class="timeline__value md-body"
					v-if="value.created_at"
					v-moment-ago="value.created_at"
				>
				</span>
				<span class="timeline__value md-body" v-else>
					Não disponível
				</span>
			</li>
			<li class="timeline__field">
				<span class="timeline__label md-caption">{{ $t('model.updated_at') }}</span>
				<span
					class="timeline__value md-body"
					v-if="value.updated_at"
					v-moment-ago="value.updated_at"
				>
				</span>
				<span class="timeline__value md-body" v-else>
					Não disponível
				</span>
			</li>
		</ul>
		
		<md-button
			class="md-raised md-accent timeline__tab"
			:disabled="!value.created_at && !value.updated_at"
			@click="onOpen"
		>
			Visualizar
		</md-button>
	</div>
</template>

<script>
	export default {
		props: {
			value: {
				type: Object,
				default: () => ({
					created_at: null,
					updated_at: null
				})
			}
		},
		methods: {
			onOpen (event) {
				this.$emit('open', event);
			}
		}
	}
</script>

<style lang="sass" scoped>
	.timeline--info{
		margin-bottom: 20px;
		.timeline{
			&__data{
				padding-left: 0;
			}
			&__field{
				list-style: none;
				margin-bottom: 20px;
				&:last-child{
					margin-bottom: 0;
				}
			}
			&__value{
				display: block;
			}
			&__tab{
				margin: 5px 0 10px;
			}
		}
	}
</style>
