<template>
	<mu-auth
		@submit="validateBeforeSubmit"
	>
		<template slot="form">
			<!-- Email Input -->
			<md-input-container
				:class="{'md-input-invalid': errors.has('email')}"
			>
				<label>{{ $t('user.fieldset.email') }}</label>
				<md-input
					data-vv-name="email"
					v-model="user.email"
					v-validate:email="'required|email'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('email')"
				>
					{{ errors.first('email') }}
				</span>
			</md-input-container>

			<!-- Password Input -->
			<md-input-container
				:class="{'md-input-invalid': errors.has('password')}"
			>
				<label>{{ $t('user.fieldset.password.first') }}</label>
				<md-input
					type="password"
					data-vv-name="password"
					v-model="user.password"
					v-validate:password="'required|min:5'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('password')"
				>
					{{ errors.first('password') }}
				</span>
			</md-input-container>
		</template>

		<template slot="footer">
			<md-button
				type="submit"
				class="home__login md-raised md-primary"
			>
				{{ $t('auth.login.submit') }}
			</md-button>

			<router-link
				class="home__forgot"
				to="/home/forgot"
			>
				{{ $t('auth.login.forgot') }}
			</router-link>
		</template>
	</mu-auth>
</template>

<script>
	import { mapMutations } from 'vuex';
	import router from '../../router';

	export default {
		data() {
			return {
				user: {
					email: '',
					password: ''
				}
			}
		},
		methods: {
			...mapMutations({
				login: 'oauth/login'
			}),
			validateBeforeSubmit() {
				this.$validator.validateAll()
					.then(success => {
						if (!success) {
							return;
						}

						this.login(this.user);
					})
			}
		}
	}
</script>

<style lang="sass" scoped>
	.home{
		&__login{
			margin: 0;
			width: 100%;
		}
		&__forgot{
			display: block;
			font-size: 12px;
			margin-top: 15px;
		}
	}
</style>
