<template>
	<mu-container>
		<md-toolbar slot="header" class="scope__header">
			<md-button @click.native="toggleSidenav" class="md-icon-button">
				<md-icon>menu</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				{{ $tc('oauth.scope.title', 2) }}
			</h2>

			<mu-search>
			</mu-search>
		</md-toolbar>

		<md-list slot="body">
			<adm-oauth-scope-item
				v-for="scope in scopes"
				:scope="scope"
				:key="scope.id"
				@click="editScope"
				@delete="deleteScope"
			>
			</adm-oauth-scope-item>
		</md-list>

		<template slot="footer" class="scope__footer">
			<md-button @click.native="add" class="md-fab md-fab-bottom-right">
				<md-icon>add</md-icon>
			</md-button>
		</template>
	</mu-container>
</template>

<script>
	import { mapMutations } from 'vuex';
	import store from '../../../store';
	import router from '../../../router';
	import OAuthScopeItem from './OAuthScopeItem'; 

	export default {
		components: {
			'adm-oauth-scope-item': OAuthScopeItem
		},
		data () {
			return {
				scopes: [],
				next_page_url: null
			}
		},
		/*
		 * Retrieve data before render component
		 */
		beforeRouteEnter (to, from, next) {
			store.dispatch('oauth/scope/getScopes')
			.then(response => {
				next(vm => {
					if (response.status == 200) {
						vm.scopes.push(...response.body);
					}
				})
			});
		},
		methods: {
			...mapMutations({
				toggleSidenav: 'sidenav/toggle'
			}),
			editScope (scope) {
				router.push('/oauth/scopes/edit/' + scope.id);
			},
			deleteScope (scope) {
				this.$store.dispatch('oauth/scope/deleteScope', scope)
					.then(response => {
						let index = this.scopes.indexOf(scope)

						if (index != -1)
							this.scopes.splice(index, 1);

						this.$logger.success(
							this.$t('action.delete', [
								this.$tc('oauth.scope.title', 1),
								scope.id
							])
						);
					});
			},
			add () {
				router.push('/oauth/scopes/add');
			}
		}
	}
</script>
