<template>
	<div style="flex:1">
		<span class="md-subheading">
			{{ $tc('oauth.scope.title', 1) }}
		</span>

		<!-- ID -->
		<md-input-container
			:class="{'md-input-invalid': errors.has('id')}"
		>
		<label>{{ $tc('oauth.scope.fieldset.id') }}</label>
			<md-input
				data-vv-name="id"
				v-model="value.id"
				v-validate:id="'required'"
				:disabled="action == 'edit'"
			>
			</md-input>

			<span
				class="md-error"
				v-show="errors.has('id')"
			>
				{{ errors.first('id') }}
			</span>
		</md-input-container>

		<!-- Description -->
		<md-input-container
			:class="{'md-input-invalid': errors.has('description')}"
		>
		<label>{{ $tc('oauth.scope.fieldset.description') }}</label>
			<md-input
				data-vv-name="description"
				v-model="value.description"
				v-validate:name="'required|min:4'"
			>
			</md-input>

			<span
				class="md-error"
				v-show="errors.has('description')"
			>
				{{ errors.first('description') }}
			</span>
		</md-input-container>

	</div>
</template>

<script>
	import { validateChild } from '../../../mixins/validate';

	export default {
		mixins: [validateChild],
		components: {
		},
		props: {
			value: {
				type: Object,
				default: () => {}
			},
			action: {
				type: String,
				default: 'add'
			}
		}
	}
</script>

<style lang="sass" scoped>
</style>
