<template>
	<div style="flex:1;width:100%;">
		<span class="md-subheading">Scopes</span>

		<md-input-container>
			<label for="scopes">
				Select Scopes
			</label>
			<md-select
				name="scopes"
				id="scopes"
				v-model="selected"
				@change="onChange"
				multiple
			>
				<md-option :value="scope" v-for="scope in options" :key="scope.id">
					{{ scope }}
				</md-option>
			</md-select>
		</md-input-container>
	</div>
</template>

<script>
	export default {
		computed: {
			selected () {
				return this.value;
			}
		},
		props: {
			value: {
				type: Array,
				default: () => []
			},
			options: {
				type: Array,
				default: () => []
			}
		},
		methods: {
			onChange (scopes) {
				this.$emit('change', scopes);
			}
		}
	}
</script>

<style>
</style>
