<template>
	<md-menu md-direction="bottom left">
		<md-button class="md-icon-button" md-menu-trigger>
			{{ current }}
		</md-button>

		<md-menu-content>
			<md-menu-item @click.native="onSelect('br')">Português</md-menu-item>
			<md-menu-item @click.native="onSelect('en')">Inglês</md-menu-item>
			<md-menu-item @click.native="onSelect('es')">Espanhol</md-menu-item>
		</md-menu-content>

		<!-- Delete Dialog -->
		<md-dialog ref="dialog">
			<!-- Dialog Content -->
			<md-dialog-title>
				Trocar de Idioma
			</md-dialog-title>

			<md-dialog-content>
				Alterações não salvas <b>serão perdidas</b>, deseja continuar?
			</md-dialog-content>

			<!-- Dialog Actions -->
			<md-dialog-actions>
				<md-button
					class="md-primary"
					@click.native="closeDialog()"
				>
					Cancelar
				</md-button>

				<md-button
					class="md-primary"
					@click.native="closeDialog(); onChange($event)"
				>
					Continuar
				</md-button>
			</md-dialog-actions>
		</md-dialog>

	</md-menu>
</template>

<script>
	import store from '../../store';
	import router from '../../router';
	import config from '../../core/config';

	export default {
		data: () => ({
			temp: config.lang.default,
			current: config.lang.default
		}),
		methods: {
			openDialog () {
				this.$refs.dialog.open();
			},
			closeDialog () {
				this.$refs.dialog.close();
			},
			onSelect (event) {
				this.temp = event;
				this.openDialog();
			},
			onChange (event) {
				this.current = this.temp;
				this.$store.commit('lang/setCurrent', this.current);
				this.$emit('change', this.current);
			}
		}
	}
</script>

<style>
</style>
