<template>
	<md-dialog class="card-filter" ref="dialog">
		<md-dialog-title>
			Filtrar Cards
		</md-dialog-title>

		<md-dialog-content>
			<md-input-container>
				<label>Tipo</label>
				<md-select>
					<md-option>Todos</md-option>
					<md-option value="news">Simples</md-option>
					<md-option value="entertainment">Complexo</md-option>
					<md-option value="sport">Extra</md-option>
					<md-option value="technology">Externo</md-option>
				</md-select>
			</md-input-container>

			<md-input-container>
				<label>Linha do Tempo</label>
				<md-select>
					<md-option>Todos</md-option>
					<md-option value="news">Simples</md-option>
					<md-option value="entertainment">Complexo</md-option>
					<md-option value="sport">Extra</md-option>
					<md-option value="technology">Externo</md-option>
				</md-select>
			</md-input-container>

			<md-layout md-gutter="16">
				<md-layout md-flex="50">
					<md-input-container>
						<label>
							Intervalo Início
						</label>
						<md-input>
						</md-input>
					</md-input-container>
				</md-layout>
				<md-layout md-flex="50">
					<md-input-container>
						<label>
							Intervalo Fim
						</label>
						<md-input>
						</md-input>
					</md-input-container>
				</md-layout>
			</md-layout>

			<md-input-container>
				<label>Ordernar Por</label>
				<md-select>
					<md-option>Última atualização</md-option>
					<md-option>Título</md-option>
					<md-option>Código</md-option>
				</md-select>
			</md-input-container>

			<div>
				<md-radio class="md-primary" v-model="direction" id="filter-direction-asc" md-value="ASC">
					Ascendente
				</md-radio>
				<md-radio class="md-primary" v-model="direction" id="filter-direction-desc" md-value="DESC">
					Decrescente
				</md-radio>
			</div>

		</md-dialog-content>

		<md-dialog-actions>
			<md-button class="md-primary" @click.native="close">Cancelar</md-button>
			<md-button class="md-primary" @click.native="close">Filtrar</md-button>
		</md-dialog-actions>
	</md-dialog>
</template>

<script>
	export default {
		data () {
			return {
				removed: false,
				direction: "ASC"
			}
		},
		methods: {
			open () {
				this.$refs.dialog.open();
			},
			close () {
				this.$refs.dialog.close();
			}
		}
	}
</script>

<style lang="sass">
	.card-filter{
		.md-dialog{
			width: 400px;
			max-width: 90%;
		}
	}
</style>
