<template>
	<md-layout md-gutter="16">
		<md-layout md-flex="100" class="md-subheading">
			{{ $tc('card.title', 1) }}
		</md-layout>

		<md-layout
			md-flex-small="100"
			md-flex="50"
		>
			<!-- Title -->
			<md-input-container
				:class="{'md-input-invalid': errors.has('titulo')}"
				>
				<label>
					{{ $t('card.fieldset.titulo') }}
				</label>
				<md-input
					data-vv-name="titulo"
					v-model="value.titulo"
					v-validate:titulo="'required|min:4'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('titulo')"
				>
					{{ errors.first('titulo') }}
				</span>
			</md-input-container>
		</md-layout>

		<md-layout
			md-flex-small="100"
			md-flex="50"
		>
			<!-- Slug -->
			<md-input-container
				:class="{'md-input-invalid': errors.has('slug')}"
				>
				<label>
					{{ $t('timeline.fieldset.slug') }}
				</label>
				<md-input
					data-vv-name="slug"
					v-model="value.slug"
					v-validate:slug="'required|min:4'"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('slug')"
				>
					{{ errors.first('slug') }}
				</span>
			</md-input-container>
		</md-layout>
	</md-layout>
</template>

<script>
	import { validateChild } from '../../mixins/validate';

	export default {
		mixins: [validateChild],
		data () {
			return {
			}
		},
		components: {
		},
		props: {
			value: {
				type: Object,
				default: () => {}
			}
		}
	}
</script>

<style>
</style>
