<template>
	<mu-container>
		<md-toolbar slot="header" class="timeline__header">
			<md-button @click.native="toggleSidenav" class="md-icon-button">
				<md-icon>menu</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				{{ $tc('card.title', 2) }}
			</h2>

			<adm-input-search @change="onSearchChange">
			</adm-input-search>

			<md-button class="md-icon-button" @click.native="$refs.filter.open()">
				<md-icon>filter_list</md-icon>
			</md-button>

			<adm-card-filter ref="filter">
			</adm-card-filter>

		</md-toolbar>

		<md-table slot="body" md-sort="titulo">
			<md-table-header>
				<md-table-row>
					<md-table-head md-sort-by="titulo">Título</md-table-head>
					<md-table-head md-sort-by="timeline">Linha do Tempo</md-table-head>
					<md-table-head>Tipo</md-table-head>
					<md-table-head md-sort-by="updated">Última Atualização</md-table-head>
				</md-table-row>
			</md-table-header>

			<md-table-body>
				<md-table-row v-for="(card, index) in cards" :key="index">
					<md-table-cell>{{ card.titulo }}</md-table-cell>
					<md-table-cell>{{ card.timeline.inicio }} – {{ card.timeline.fim }}</md-table-cell>
					<md-table-cell>{{ card.tipo | capitalize }}</md-table-cell>
					<md-table-cell>
						<span v-if="card.updated_at" v-moment-ago="card.updated_at"></span>
						<span v-else-if="card.created_at" v-moment-ago="card.created_at"></span>
						<span v-else>--</span>
					</md-table-cell>
				</md-table-row>
			</md-table-body>
		</md-table>
	</mu-container>
</template>

<script>
	import { mapMutations } from 'vuex';
	import store from '../../store';

	export default {
		components: {
			'adm-card-item': require('./card-simple/CardSimpleItem'),
			'adm-card-filter': require('./CardFilter')
		},
		data () {
			return {
				cards: [],
				next_page_url: null
			}
		},
		/*
		 * Retrieve data before render component
		 */
		beforeRouteEnter (to, from, next) {
			store.dispatch('card/getCards')
			.then(response => {
				next(vm => {
					if (response.status == 200) {
						console.log(response.body.data);
						vm.cards.push(...response.body.data);
						vm.next = response.body.next_page_url;
					}
				})
			});
		},
		methods: {
			...mapMutations({
				toggleSidenav: 'sidenav/toggle'
			}),
			editCard (card) {
				console.log('TODO: Edit cards');
				// router.push('/card/edit/' + card.id);
			},
			deleteCard (card) {
				return console.log('TODO: Delete cards');

				this.$store.dispatch('card/deleteCard', card)
					.then(response => {
						let index = this.cardss.indexOf(card)

						if (index != -1)
							this.card.splice(index, 1);

						this.$logger.success(
							this.$t('action.delete', [
								this.$tc('card.title', 1),
								card.titulo
							])
						);
					});
			},
			add () {
				console.log('TODO: Add cards');
				// router.push('/cards/add');
			},
			onSearchChange (event) {
				store.dispatch('card/searchCards', {
					q: event
				})
					.then(response => {
						this.cards = [];
						this.cards.push(...response.body.data);
						this.next = response.body.next_page_url;
					});
			}
		}
	}
</script>

<style>
</style>
