<template>
	<div class="widget-cards">
		<span class="md-headline">Últimas Atualizações</span>

		<adm-widget-cards-item
			:card="card"
			:key="card.id"
			v-for="(card, key, index) in value"
		>
		</adm-widget-cards-item>
	</div>
</template>

<script>
	export default {
		components: {
			'adm-widget-cards-item': require('./WidgetCardsItem')
		},

		props: {
			value: {
				type: Array,
				default: () => []
			}
		},
	}
	</script>

<style lang="sass" scoped>
	.widget-cards{
		width: 100%;
		.md-headline{
			margin-bottom: 16px;
			display: block;
		}
	}
</style>
