<template>
	<md-card class="widget-cards-item md-primary">
		<md-card-header>
			<md-card-header-text>
				<div class="md-title">{{ card.titulo }}</div>
				<div class="md-subhead">
					<span>Card <b>{{ card.tipo }}</b></span>
					<span>atualizado <b>13 minutos atrás</b></span>
					<span v-if="card.timeline">
						em <b>
							{{ card.timeline.inicio }} – {{ card.timeline.fim }}:
							{{ card.timeline.titulo }}
						</b>
					</span>
				</div>
			</md-card-header-text>

			<md-card-media md-medium>
				<img src="http://lorempixel.com/300/300/">
			</md-card-media>
		</md-card-header>

		<md-card-actions>
			<md-button>Visualizar</md-button>
			<md-button>Editar</md-button>
		</md-card-actions>
	</md-card>
</template>

<script>
	export default {
		props: {
			card: {
				type: Object,
				default: () => {}
			},
			type: {
				type: Number,
				default: 1
			}
		}
	}
</script>

<style lang="sass" scoped>
	.widget-cards-item{
		width: 100%;
		margin-bottom: 16px;
		.md-title{
			line-height: 100%;
			margin-bottom: 8px;
		}
	}
</style>
