<template>
	<adm-panel>
	</adm-panel>
</template>

<script>
	export default {
		components: {
			'adm-panel': require('./components/panel/Panel')
		},
		mounted() {
			document.title = 'Memorial da Democracia – Painel Administrativo';
		},
	}
</script>

<style lang="sass">
	@import '~vue-material/dist/vue-material.css';
	@import '~nprogress/nprogress.css';
	@import 'core/stylesheets/transitions/transitions';

	body{
		height: 100%;
		overflow: hidden;
	}
</style>
