<template>
	<mu-container>
		<md-toolbar class="dashboard__header" slot="header">
			<md-button @click.native="toggleSidenav" class="md-icon-button">
				<md-icon>menu</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">Dashboard</h2>
		</md-toolbar>

		<div class="dashboard__body" slot="body">
			<md-layout class="dashboard__row" md-gutter="16">
				<md-layout
					class="dashboard__column"
					md-flex-small="100"
					md-flex="66"
				>
					<adm-widget-timelines v-model="timelines"></adm-widget-timelines>
				</md-layout>

				<md-layout
					class="dashboard__column"
					md-flex-small="100"
					md-flex="33"
				>
					<adm-widget-cards v-model="cards"></adm-widget-cards>
				</md-layout>
			</md-layout>
		</div>
	</mu-container>
</template>

<script>
	import { mapMutations } from 'vuex';
	import store from '../../store';

	export default {
		components: {
			'adm-widget-timelines': require('../widget/timelines/WidgetTimelines'),
			'adm-widget-cards': require('../widget/cards/WidgetCards')
		},

		data () {
			return {
				timelines: [],
				cards: []
			}
		},

		beforeRouteEnter (to, from, next) {
			Promise.all([
				store.dispatch('timeline/getTimelines'),
				store.dispatch('card/getLatestCards')
			]).then(([timelines, cards]) => {
				next(vm => {
					if (timelines.status == 200)
						vm.timelines.push(...timelines.body.data);

					if (cards.status == 200)
						vm.cards.push(...cards.body.data);
				})
			});
		},

		methods: {
			...mapMutations({
				toggleSidenav: 'sidenav/toggle'
			})
		}
	}
</script>

<style>
	.container__body{
		position: relative;
	}
</style>

<style lang="sass" scoped>
	.dashboard{
		&__body{
			padding: 0 16px;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		&__row{
			height: 100%;
		}
		&__column{
			height: 100%;
			overflow: auto;
			padding: 16px 0;
		}
	}
</style>
