<template>
	<md-layout md-gutter="16" class="widget-timelines">
		<md-layout md-flex="100" class="md-headline">Linhas do Tempo</md-layout>

		<md-layout
			md-flex="50"
			md-flex-small="100"
			v-for="timeline in timelines"
			:key="timeline.id"
		>
			<adm-widget-timelines-item
				:timeline="timeline"
			>
			</adm-widget-timelines-item>
		</md-layout>
	</md-layout>
</template>

<script>
	export default {
		components: {
			'adm-widget-timelines-item': require('./WidgetTimelinesItem')
		},

		props: {
			value: {
				type: Array,
				default: () => []
			}
		},

		data: () => ({
			timelines: []
		}),

		watch: {
			value (value) {
				value.forEach(timeline => {
					this.timelines.push(timeline)
				});
			}
		},
	}
	</script>

<style lang="sass" scoped>
	.widget-timelines{
		width: 100%;
		.md-headline{
			margin-bottom: 16px;
			display: block;
		}
	}
</style>
