<template>
	<md-table-card
		class="widget-timelines-item"
		:class="{
			'md-warn': status == 'construcao',
			'md-accent': status == 'visitacao',
		}">
		<md-card-header>
			<md-card-header-text>
				<div class="md-title">{{ timeline.inicio }} – {{ timeline.fim }}</div>
				<div class="md-subhead">{{ timeline.titulo }}</div>
			</md-card-header-text>

			<md-menu md-size="4" md-direction="bottom left">
				<md-button class="md-icon-button" md-menu-trigger>
					<md-icon>more_vert</md-icon>
				</md-button>

				<md-menu-content>
					<md-menu-item @click.native="editTimeline">
						<span>Editar</span>
						<md-icon>edit</md-icon>
					</md-menu-item>

					<md-menu-item>
						<span>Visualizar</span>
						<md-icon>remove_red_eye</md-icon>
					</md-menu-item>

					<md-menu-item>
						<span>Gerenciar Cards</span>
						<md-icon>view_list</md-icon>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</md-card-header>

		<md-card-media md-ratio="16:9">
			<img src="http://lorempixel.com/400/300">
		</md-card-media>

		<md-table>
			<md-table-header>
				<md-table-row>
					<md-table-head>Tipo do Card</md-table-head>
					<md-table-head md-numeric>Quantidade</md-table-head>
				</md-table-row>
			</md-table-header>

			<md-table-body>
				<md-table-row>
					<md-table-cell>Simples</md-table-cell>
					<md-table-cell md-numeric>{{ timeline.simples }}</md-table-cell>
				</md-table-row>
				<md-table-row>
					<md-table-cell>Extra</md-table-cell>
					<md-table-cell md-numeric>{{ timeline.extra }}</md-table-cell>
				</md-table-row>
				<md-table-row>
					<md-table-cell>Complexo</md-table-cell>
					<md-table-cell md-numeric>{{ timeline.complexo }}</md-table-cell>
				</md-table-row>
				<md-table-row>
					<md-table-cell>Externo</md-table-cell>
					<md-table-cell md-numeric>{{ timeline.externo }}</md-table-cell>
				</md-table-row>
			</md-table-body>
		</md-table>
	</md-table-card>
</template>

<script>
	export default {
		data: () => ({
			status: 'publico'
		}),
		props: {
			timeline: {
				type: Object,
				default: () => {}
			}
		},
		mounted () {
			this.status = +this.timeline.construcao && +this.timeline.visitacao ? 'visitacao' :
				+this.timeline.construcao && !+this.timeline.visitacao ? 'construcao' : 'publico'
		},
		methods: {
			editTimeline (event) {
				this.$router.push(`/timelines/edit/${this.timeline.id}`);
			}
		}
	}
</script>

<style lang="sass" scoped>
	.widget-timelines-item{
		width: 100%;
		margin-bottom: 16px;
		.md-table{
			background: white;
		}
	}
</style>
