.scale-fade-enter-active {
	transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.scale-fade-leave-active {
	transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.scale-fade-enter {
	opacity: 0;
	transform: scale(1.2);
}
.scale-fade-leave-active {
	opacity: 0;
	transform: scale(0.8);
}

