<template>
	<md-sidenav class="sidenav md-left" ref="sidenav" @close="closeSidenav">
		<mu-container>
			<md-toolbar slot="header" class="md-account-header">
				<md-list class="md-transparent">
					<md-list-item class="md-avatar-list">
						<md-avatar class="md-large md-avatar-icon">
							<md-icon>
								person
							</md-icon>
						</md-avatar>

						<span style="flex: 1"></span>
					</md-list-item>

					<md-list-item>
						<div class="md-list-text-container">
							<span class="sidenav__user">{{ authUser.nome }}</span>
							<span class="sidenav__email">{{ authUser.email }}</span>
						</div>

						<md-menu md-direction="bottom left" md-size="4">
							<md-button class="sidenav__more md-icon-button" md-menu-trigger>
								<md-icon>arrow_drop_down</md-icon>
							</md-button>

							<md-menu-content>
								<md-menu-item>
									<span>{{ $tc('setting.title', 2) }}</span>
									<md-icon>settings</md-icon>
								</md-menu-item>

								<md-menu-item @click.native="logout(); closeSidenav();">
									<span>{{ $t('auth.logout.title') }}</span>
									<md-icon>power_settings_new</md-icon>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</md-list-item>
				</md-list>
			</md-toolbar>

			<md-list slot="body">
				<md-list-item>
					<router-link to="/dashboard" @click.native="closeSidenav">
						<md-icon>dashboard</md-icon>
						<span>Dashboard</span>
					</router-link>
				</md-list-item>

				<md-list-item>
					<router-link to="/users" @click.native="closeSidenav">
						<md-icon>person</md-icon> <span>{{ $tc('user.title', 2) }}</span>
					</router-link>
				</md-list-item>

				<md-list-item>
					<router-link to="/timelines" @click.native="closeSidenav">
						<md-icon>timeline</md-icon> <span>{{ $tc('timeline.title', 2) }}</span>
					</router-link>
				</md-list-item>

				<md-list-item>
					<md-icon>event</md-icon> <span>{{ $tc('card.title', 2) }}</span>

					<md-list-expand>
						<md-list>
							<md-list-item class="md-inset">
								<router-link to="/cards" @click.native="closeSidenav">
									Todos
								</router-link>
							</md-list-item>

							<md-list-item class="md-inset">
								{{ $tc('card.simple.title', 2) }}
							</md-list-item>

							<md-list-item class="md-inset">
								{{ $tc('card.complex.title', 2) }}
							</md-list-item>

							<md-list-item class="md-inset">
								{{ $tc('card.extra.title', 2) }}
							</md-list-item>

							<md-list-item class="md-inset">
								{{ $tc('card.outer.title', 2) }}
							</md-list-item>
						</md-list>
					</md-list-expand>
				</md-list-item>

				<md-list-item>
					<md-icon>photo_library</md-icon> <span>{{ $tc('media.title', 2) }}</span>

					<md-list-expand>
						<md-list>
							<md-list-item class="md-inset">
								{{ $tc('media.image.title', 2)  }}
							</md-list-item>

							<md-list-item class="md-inset">
								{{ $tc('media.document.title', 2) }}
							</md-list-item>

							<md-list-item class="md-inset">
								{{ $tc('media.audio.title', 2) }}
							</md-list-item>
						</md-list>
					</md-list-expand>
				</md-list-item>

				<md-list-item>
					<md-icon>locker</md-icon>
					<span>{{ $t('oauth.title') }}</span>
					<md-list-expand>
						<md-list>
							<md-list-item class="md-inset">
								<router-link to="/oauth/clients" @click.native="closeSidenav">
									{{ $tc('oauth.client.title', 2) }}
								</router-link>
							</md-list-item>
							<md-list-item class="md-inset">
								<router-link to="/oauth/scopes" @click.native="closeSidenav">
									{{ $tc('oauth.scope.title', 2) }}
								</router-link>
							</md-list-item>
						</md-list>
					</md-list-expand>
				</md-list-item>
			</md-list>
		</mu-container>
	</md-sidenav>
</template>

<script>
	import { mapGetters, mapMutations } from 'vuex';
	import router from '../../router';

export default {
	computed: {
		...mapGetters({
			sidenav: 'sidenav/isActive',
			authUser: 'oauth/getUser'
		})
	},
	watch: {
		sidenav (value) {
			if (value) {
				this.$refs.sidenav.open();
			} else {
				this.$refs.sidenav.close();
			}
		}
	},
	methods: {
		...mapMutations({
			openSidenav: 'sidenav/open',
			closeSidenav: 'sidenav/close',
			toggleSidenav: 'sidenav/toggle',
			logout: 'oauth/logout'
		})
	}
}
</script>

<style lang="sass" scoped>
	.sidenav{
		&__email,
		&__more .md-icon{
			color: hsla(0, 0%, 100%, .54);
		}
		&__more{
			margin-right: 0;
		}
	}
</style>
