<template>
	<div class="card-opening-fieldset-thumbnail">
		<span class="md-subheading">
			{{ $t('card.opening.fieldset.thumbnail') }}
		</span>
		<!-- URL do Video -->
		<md-input-container>
			<label>
				{{ $t('card.opening.fieldset.url') }}
			</label>
			<md-input
				v-model="value.url"
			>
			</md-input>
		</md-input-container>

		<mu-gallery-single
			ref="gallery"
		>
		</mu-gallery-single>
	</div>
</template>

<script>
	import { validateChild } from '../../../mixins/validate';

	export default {
		mixins: [validateChild],
		props: {
			value: {
				type: Object,
				default: () => ({
					url: ''
				})
			}
		},
		data: () => ({
			images: [],
			queue: []
		})
	}
</script>

<style lang="sass" scoped>
	.card-opening-fieldset-thumbnail{
	}
</style>
