<template>
	<md-layout md-gutter="16">
		<md-layout md-flex="100" class="md-subheading">
			{{ $tc('card.opening.title', 1) }}
		</md-layout>

		<md-layout
			md-flex-small="100"
			md-flex="50"
		>
			<!-- Titulo -->
			<md-input-container
				:class="{'md-input-invalid': errors.has('titulo')}"
				>
				<label>
					{{ $t('card.fieldset.titulo') }}
				</label>
				<md-input
					data-vv-name="titulo"
					v-model="value.titulo"
					v-validate:titulo="'required|min:4'"
				>
				</md-input>
				<span
					class="md-error"
					v-show="errors.has('titulo')"
				>
					{{ errors.first('titulo') }}
				</span>
			</md-input-container>
		</md-layout>

		<md-layout
			md-flex-small="100"
			md-flex="50"
		>
			<!-- Descrição da Data -->
			<md-input-container
				:class="{'md-input-invalid': errors.has('descricao_data')}"
				>
				<label>
					{{ $t('card.fieldset.descricao_data') }}
				</label>
				<md-input
					v-model="value.descricao_data"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('descricao_data')"
				>
					{{ errors.first('descricao_data') }}
				</span>
			</md-input-container>
		</md-layout>

		<md-layout
			md-flex="100"
		>
			<!-- Subtitulo -->
			<md-input-container>
				<label>
					{{ $t('card.fieldset.subtitulo') }}
				</label>
				<md-input
					v-model="value.subtitulo"
				>
				</md-input>
			</md-input-container>
		</md-layout>

		<md-layout
			md-flex="100"
		>
			<mu-editor
				:label="$t('card.fieldset.texto')"
				rows="20"
				v-model="value.texto"
			>
			</mu-editor>
		</md-layout>
	</md-layout>
</template>

<script>
	import { validateChild } from '../../../mixins/validate';

	export default {
		mixins: [validateChild],
		props: {
			value: {
				type: Object,
				default: () => ({
					titulo: '',
					subtitulo: '',
					slug: '',
					texto: {},
					data: '',
					descricao_data: '',
					intervalo_inicio: '',
					intervalo_fim: '',
					descricao_busca: '',
					credito_foto_capa: ''
				})
			}
		}
	}
</script>

<style>
</style>
